<div class="registrations_form">

  <%= form_with(url: registrations_path, model: @user, local: true) do |form| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :email, 'Email' %>
      <%= form.text_field :email, autocomplete: 'off'  %>
    </div>

    <div class="field">
      <%= form.label :password, 'Password' %>
      <%= form.password_field :password  %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, 'Password Confirmation' %>
      <%= form.password_field :password_confirmation  %>
    </div>

    <div class="actions">
      <%= form.submit value: "Signup"  %>
      or <%= link_to 'log in', login_path %>
    </div>

  <% end %>
</div>
